FrontEnd/DxnSisventas/Connected Services/BBBWebService/DocumentosAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.webservice.BBB.pucp.edu.pe/" targetNamespace="http://services.webservice.BBB.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarComprobante" type="tns:actualizarComprobante" />
  <xs:element name="actualizarComprobanteResponse" type="tns:actualizarComprobanteResponse" />
  <xs:element name="actualizarOrdenCompra" type="tns:actualizarOrdenCompra" />
  <xs:element name="actualizarOrdenCompraResponse" type="tns:actualizarOrdenCompraResponse" />
  <xs:element name="actualizarOrdenVenta" type="tns:actualizarOrdenVenta" />
  <xs:element name="actualizarOrdenVentaResponse" type="tns:actualizarOrdenVentaResponse" />
  <xs:element name="eliminarComprobante" type="tns:eliminarComprobante" />
  <xs:element name="eliminarComprobanteResponse" type="tns:eliminarComprobanteResponse" />
  <xs:element name="eliminarLOV" type="tns:eliminarLOV" />
  <xs:element name="eliminarLOVResponse" type="tns:eliminarLOVResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertarComprobante" type="tns:insertarComprobante" />
  <xs:element name="insertarComprobanteResponse" type="tns:insertarComprobanteResponse" />
  <xs:element name="insertarLOV" type="tns:insertarLOV" />
  <xs:element name="insertarLOVResponse" type="tns:insertarLOVResponse" />
  <xs:element name="insertarOrdenCompra" type="tns:insertarOrdenCompra" />
  <xs:element name="insertarOrdenCompraResponse" type="tns:insertarOrdenCompraResponse" />
  <xs:element name="insertarOrdenVenta" type="tns:insertarOrdenVenta" />
  <xs:element name="insertarOrdenVentaResponse" type="tns:insertarOrdenVentaResponse" />
  <xs:element name="listarComprobante" type="tns:listarComprobante" />
  <xs:element name="listarComprobanteResponse" type="tns:listarComprobanteResponse" />
  <xs:element name="listarOrden" type="tns:listarOrden" />
  <xs:element name="listarOrdenCompra" type="tns:listarOrdenCompra" />
  <xs:element name="listarOrdenCompraResponse" type="tns:listarOrdenCompraResponse" />
  <xs:element name="listarOrdenResponse" type="tns:listarOrdenResponse" />
  <xs:element name="listarOrdenVenta" type="tns:listarOrdenVenta" />
  <xs:element name="listarOrdenVentaResponse" type="tns:listarOrdenVentaResponse" />
  <xs:complexType name="listarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarComprobanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idComprobanteCadena" type="xs:string" />
      <xs:element name="idComprobanteNumerico" type="xs:int" />
      <xs:element minOccurs="0" name="ordenAsociada" type="tns:orden" />
      <xs:element minOccurs="0" name="tipoComprobante" type="tns:tipoComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orden">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:estadoOrden" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idOrden" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasOrden" nillable="true" type="tns:lineaOrden" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaOrden">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="capacidad" type="xs:double" />
      <xs:element minOccurs="0" name="idProductoCadena" type="xs:string" />
      <xs:element name="idProductoNumerico" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element name="puntos" type="xs:int" />
      <xs:element name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoProducto" />
      <xs:element minOccurs="0" name="unidadDeMedida" type="tns:unidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenVenta" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenVenta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:orden">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="encargadoVenta" type="tns:empleado" />
          <xs:element minOccurs="0" name="fechaEntrega" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idOrdenVentaCadena" type="xs:string" />
          <xs:element name="idOrdenVentaNumerico" type="xs:int" />
          <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
          <xs:element name="porcentajeDescuento" type="xs:double" />
          <xs:element minOccurs="0" name="repartidor" type="tns:empleado" />
          <xs:element minOccurs="0" name="tipoVenta" type="tns:tipoVenta" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="idCadena" type="xs:string" />
          <xs:element name="idNumerico" type="xs:int" />
          <xs:element minOccurs="0" name="patrocinador" type="tns:cliente" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="patrocinados" nillable="true" type="tns:cliente" />
          <xs:element name="puntos" type="xs:int" />
          <xs:element name="puntosRetenidos" type="xs:int" />
          <xs:element minOccurs="0" name="RUC" type="xs:string" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="empleadoActivo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idEmpleadoCadena" type="xs:string" />
          <xs:element name="idEmpleadoNumerico" type="xs:int" />
          <xs:element minOccurs="0" name="rol" type="tns:rol" />
          <xs:element name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarOrdenVentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrden">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:orden" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarComprobanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLOV">
    <xs:sequence>
      <xs:element name="id_orden" type="xs:int" />
      <xs:element name="id_producto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLOVResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComprobante">
    <xs:sequence>
      <xs:element name="comprobante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComprobanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarOrdenCompraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenCompra">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:orden">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaRecepcion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idOrdenCompraCadena" type="xs:string" />
          <xs:element name="idOrdenCompraNumerico" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarLOV">
    <xs:sequence>
      <xs:element minOccurs="0" name="lvOrden" type="tns:lineaOrden" />
      <xs:element name="id_orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLOVResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarComprobanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenVenta" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenVentaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenCompraResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenCompra" type="tns:ordenCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenCompraResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoOrden">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pendiente" />
      <xs:enumeration value="Entregado" />
      <xs:enumeration value="Cancelado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Comestible" />
      <xs:enumeration value="CuidadoPersonal" />
      <xs:enumeration value="Otro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="gramos" />
      <xs:enumeration value="mililitros" />
      <xs:enumeration value="unidad" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoComprobante">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BoletaSimple" />
      <xs:enumeration value="Factura" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Repartidor" />
      <xs:enumeration value="EncargadoVentas" />
      <xs:enumeration value="EncargadoAlmacen" />
      <xs:enumeration value="Administrador" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="metodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Efectivo" />
      <xs:enumeration value="Tarjeta" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoVenta">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Presencial" />
      <xs:enumeration value="Delivery" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>