FrontEnd/DxnSisventas/Connected Services/BBBWebService/PersonasAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.webservice.BBB.pucp.edu.pe/" targetNamespace="http://services.webservice.BBB.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCliente" type="tns:actualizarCliente" />
  <xs:element name="actualizarClienteResponse" type="tns:actualizarClienteResponse" />
  <xs:element name="actualizarEmpleado" type="tns:actualizarEmpleado" />
  <xs:element name="actualizarEmpleadoResponse" type="tns:actualizarEmpleadoResponse" />
  <xs:element name="eliminarCliente" type="tns:eliminarCliente" />
  <xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />
  <xs:element name="eliminarEmpleado" type="tns:eliminarEmpleado" />
  <xs:element name="eliminarEmpleadoResponse" type="tns:eliminarEmpleadoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertarCliente" type="tns:insertarCliente" />
  <xs:element name="insertarClienteResponse" type="tns:insertarClienteResponse" />
  <xs:element name="insertarEmpleado" type="tns:insertarEmpleado" />
  <xs:element name="insertarEmpleadoResponse" type="tns:insertarEmpleadoResponse" />
  <xs:element name="listarClientes" type="tns:listarClientes" />
  <xs:element name="listarClientesResponse" type="tns:listarClientesResponse" />
  <xs:element name="listarEmpleados" type="tns:listarEmpleados" />
  <xs:element name="listarEmpleadosResponse" type="tns:listarEmpleadosResponse" />
  <xs:complexType name="eliminarEmpleado">
    <xs:sequence>
      <xs:element name="empleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="empleadoActivo" type="xs:boolean" />
          <xs:element minOccurs="0" name="idEmpleadoCadena" type="xs:string" />
          <xs:element name="idEmpleadoNumerico" type="xs:int" />
          <xs:element minOccurs="0" name="rol" type="tns:rol" />
          <xs:element name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpleados">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpleadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCliente">
    <xs:sequence>
      <xs:element name="cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="cadena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="idCadena" type="xs:string" />
          <xs:element name="idNumerico" type="xs:int" />
          <xs:element minOccurs="0" name="patrocinador" type="tns:cliente" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="patrocinados" nillable="true" type="tns:cliente" />
          <xs:element name="puntos" type="xs:int" />
          <xs:element name="puntosRetenidos" type="xs:int" />
          <xs:element minOccurs="0" name="RUC" type="xs:string" />
          <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="actualizarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Repartidor" />
      <xs:enumeration value="EncargadoVentas" />
      <xs:enumeration value="EncargadoAlmacen" />
      <xs:enumeration value="Administrador" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>