FrontEnd/DxnSisventas/Connected Services/BBBWebService/ProductosAPI1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.webservice.BBB.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductosAPI" targetNamespace="http://services.webservice.BBB.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BBBWebService/ProductosAPI?xsd=1" namespace="http://services.webservice.BBB.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="actualizarProducto">
    <part name="parameters" element="tns:actualizarProducto" />
  </message>
  <message name="actualizarProductoResponse">
    <part name="parameters" element="tns:actualizarProductoResponse" />
  </message>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <portType name="ProductosAPI">
    <operation name="hello">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="actualizarProducto">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/actualizarProductoRequest" message="tns:actualizarProducto" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/actualizarProductoResponse" message="tns:actualizarProductoResponse" />
    </operation>
    <operation name="listarProductos">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ProductosAPI/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductosAPIPortBinding" type="tns:ProductosAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductosAPI">
    <port name="ProductosAPIPort" binding="tns:ProductosAPIPortBinding">
      <soap:address location="http://localhost:8080/BBBWebService/ProductosAPI" />
    </port>
  </service>
</definitions>