FrontEnd/DxnSisventas/Connected Services/BBBWebService/ReportesAPI1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.webservice.BBB.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ReportesAPI" targetNamespace="http://services.webservice.BBB.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/BBBWebService/ReportesAPI?xsd=1" namespace="http://services.webservice.BBB.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="reporteOrdenVentaPDF">
    <part name="parameters" element="tns:reporteOrdenVentaPDF" />
  </message>
  <message name="reporteOrdenVentaPDFResponse">
    <part name="parameters" element="tns:reporteOrdenVentaPDFResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="generarReporteOrdenCompra">
    <part name="parameters" element="tns:generarReporteOrdenCompra" />
  </message>
  <message name="generarReporteOrdenCompraResponse">
    <part name="parameters" element="tns:generarReporteOrdenCompraResponse" />
  </message>
  <message name="imprimirComprobante">
    <part name="parameters" element="tns:imprimirComprobante" />
  </message>
  <message name="imprimirComprobanteResponse">
    <part name="parameters" element="tns:imprimirComprobanteResponse" />
  </message>
  <message name="generarReporteAlmacen">
    <part name="parameters" element="tns:generarReporteAlmacen" />
  </message>
  <message name="generarReporteAlmacenResponse">
    <part name="parameters" element="tns:generarReporteAlmacenResponse" />
  </message>
  <portType name="ReportesAPI">
    <operation name="hello">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="reporteOrdenVentaPDF">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/reporteOrdenVentaPDFRequest" message="tns:reporteOrdenVentaPDF" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/reporteOrdenVentaPDFResponse" message="tns:reporteOrdenVentaPDFResponse" />
      <fault wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/reporteOrdenVentaPDF/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="generarReporteOrdenCompra">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/generarReporteOrdenCompraRequest" message="tns:generarReporteOrdenCompra" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/generarReporteOrdenCompraResponse" message="tns:generarReporteOrdenCompraResponse" />
    </operation>
    <operation name="imprimirComprobante">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/imprimirComprobanteRequest" message="tns:imprimirComprobante" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/imprimirComprobanteResponse" message="tns:imprimirComprobanteResponse" />
    </operation>
    <operation name="generarReporteAlmacen">
      <input wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/generarReporteAlmacenRequest" message="tns:generarReporteAlmacen" />
      <output wsam:Action="http://services.webservice.BBB.pucp.edu.pe/ReportesAPI/generarReporteAlmacenResponse" message="tns:generarReporteAlmacenResponse" />
    </operation>
  </portType>
  <binding name="ReportesAPIPortBinding" type="tns:ReportesAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteOrdenVentaPDF">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="generarReporteOrdenCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="imprimirComprobante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generarReporteAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ReportesAPI">
    <port name="ReportesAPIPort" binding="tns:ReportesAPIPortBinding">
      <soap:address location="http://localhost:8080/BBBWebService/ReportesAPI" />
    </port>
  </service>
</definitions>